@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import '_reset.scss';
@import '_mui.scss';

body {
  font-family: 'Montserrat', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4155b7;
  line-height: 1.4;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.serverError {
  overflow-wrap: break-word;
  word-break: break-all;
}
